{
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "rules": {
    "block-scoped-var": 2,
    "camelcase": 2,
    "comma-dangle": [2, "never"],
    "complexity": 2,
    "consistent-return": 2,
    "curly": 2,
    "default-case": 2,
    "dot-location": ["error", "property"],
    "dot-notation": 2,
    "eqeqeq": 2,
    "guard-for-in": 2,
    "indent": [2, 2],
    "no-alert": 2,
    "no-caller": 2,
    "no-div-regex": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-else-return": 2,
    "no-empty": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    "no-extra-bind": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-semi": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    "no-func-assign": 2,
    "no-implied-eval": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-lone-blocks": 2,
    "no-loop-func": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-spaces": 2,
    "no-multi-str": 2,
    "no-native-reassign": 2,
    "no-negated-in-lhs": 2,
    "no-new": 2,
    "no-new-wrappers": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sparse-arrays": 2,
    "no-throw-literal": 2,
    "no-trailing-spaces": 2,
    "no-underscore-dangle": 0,
    "no-unreachable": 2,
    "no-unused-expressions": 0,
    "no-use-before-define": [2, "nofunc"],
    "no-warning-comments": 1,
    "quotes": [2, "single"],
    "radix": 2,
    "semi": 2,
    "keyword-spacing": ["error", { "before": true }],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}],
    "object-curly-spacing": [2, "never"],
    "computed-property-spacing": [2, "never"],
    "array-bracket-spacing": [2, "never"],
    "space-infix-ops": 2,
    "space-unary-ops": [1, { "words": true, "nonwords": false }],
    "strict": 0,
    "use-isnan": 2,
    "valid-jsdoc": [2, {"requireReturn": false}],
    "valid-typeof": 2,
    "vars-on-top": 0,
    "wrap-iife": 2,
    "yoda": 2
  }
}
